@inherits LayoutComponentBase


<MudAppBar Color="Color.Primary" Fixed="false">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" OnClick="@(()=> OpenDrawer(Anchor.Start))"></MudIconButton>
    <MudSpacer />
</MudAppBar>

<MudDrawer @bind-Open="@Open" Anchor="@anchor" Elevation="1" Variant="@DrawerVariant.Temporary">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6">Multiple Exchange</MudText>
    </MudDrawerHeader>
    <MudNavMenu>
        <MudNavLink Icon="@Icons.Material.Filled.HomeMax" Href="/">Home </MudNavLink>
        <MudNavLink Icon="@Icons.Material.Filled.AttachMoney" Href="Currency">Currency </MudNavLink>
        <MudNavLink Icon="@Icons.Material.Filled.WbSunny" Href="Weather">Weather</MudNavLink>
    </MudNavMenu>
</MudDrawer>

<div class="page">
    <main>
        <MudThemeProvider/>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    bool Open;
    Anchor anchor;

    void OpenDrawer(Anchor anchor)
    {
        Open = true;
        this.anchor = anchor;
    }
}